* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: 'Montserrat', serif;
}



section.parc-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article.parc {
    width: 45%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

main {
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 30px;
}

main img {
    width: 100%;
    height: auto;
}

.p {
    color: #3498db;
    font-weight: bold;
}


.text {
    padding: 10px;
}

.spacer2 {
    margin: 150px;
}

.description {
    font-size: 20px;
    color: #797575;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.description h1 {
    color: black;
    padding-bottom: 15px;
    font-weight: 500;
}