* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: #D5F3FE;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.pages {
    width: 90%;
    line-height: 60px;
}

.tabs {
    font-family: 'Montserrat', sans-serif;
    font-weight: 530;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.459)
}

.logo {
    display: block;
    margin: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90px;
}

.pages ul {
    display: flex;
    justify-content: space-evenly;
}

.pages li,
.pages a {
    font-size: large;
    list-style-type: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

input {
    width: 120px;
    padding: 4px;
    padding-left: 7px;
    border-radius: 13px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    border: none;
}

.dropdown {
    position: relative;
}

.dropdown .submenu {
    display: none;
    position: absolute;
    backdrop-filter: blur(5px);
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    line-height: 3em;
}

.dropdown:hover .submenu {
    display: block;
    padding-left: 10px;
}

.submenu li a {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: white;
    text-shadow: 5px 5px 10px black;
}

main {
    background-color: #EFEFEF;
    padding-bottom: 30px;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 10px black;
    margin-bottom: 35px;
    padding-top: 70px;
}

h2 {
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: underline black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 22px;
}

.conteneur-telephone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    height: 400px;
    font-weight: 420;
    margin: auto;
    border: transparent solid;
    background-color: white;
    box-shadow: 2px 2px 3px black;
    margin-bottom: 60px;
}

.rectangle-telephone {
    display: flex;
    justify-content: center;
    width: 87%;
    font-family: 'Montserrat', sans-serif;
    background-color: #1969d1;
    color: white;
    height: 310px;
    border: solid 1px black;
    padding: 10px
}

.telephone {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 5px;
    line-height: 2.5em;
    margin-bottom: 50px;
}

.rectangle-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 900px;
    font-weight: 420;
    margin: auto;
    border: transparent solid;
    background-color: white;
    box-shadow: 2px 2px 3px black;
    margin-bottom: 40px;
}

.conteneur-form input[type=text], .conteneur-form textarea, .conteneur-form input[type=email], .liste-form {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}
  
.conteneur-form label {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
  
.conteneur-form input[type=submit] {
    background-color: #1969d1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.conteneur-form input[type=submit]:hover {
    background-color: #D5F3FE;
}
  
.conteneur-form {
    box-sizing : border-box;
    border-radius:5px;
    background-color:#706e6e;
    padding:20px;
    width: 100%;
    max-width: 600px;
    margin:0 auto;
    margin-top: 50px;
}

.contact-form {
    display: flex;
    justify-content: center;
}

footer {
    padding: 10px;
    bottom: 0;
    background-color: #D5F3FE;
}

.conteneur-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.conteneur-footer h3 {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 530;
    font-size: medium;
}

.conteneur-footer li {
    list-style-type: none;
    margin-bottom: 10px;
}

.conteneur-footer a {
    font-size: 13px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.reseaux {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
}

.logo-rs {
    height: 20px;
}

.logo-ytb {
    height: 23px;
}